{% extends 'base.html.twig' %}

{% block body %}
    <h1>Niepołacone faktury i podatki</h1>

    <table>
        <thead>
            <tr>

                <th>Nazwa Kontrahenta/Urzędu</th>
                <th>Opis/Nr Faktury</th>
                <th>Kwota</th>
                <th>Nr Konta</th>
                <th>Projekt</th>
                <th>Termin Płatności</th>
                <th>Opłacone?</th>
            </tr>
        </thead>
        <tbody>
        {% for platnosc in platnosci %}

            <tr id="{{ loop.index }}"{% if "now"|date('Y-m-d') > platnosc.terminPlatnosci|date('Y-m-d') %}class="po_terminie"{%  endif %}>



                <td>
                    {% if platnosc.urzad is defined %}

                        {% if platnosc.urzad == 1 %}
                            <span>Urząd Skarbowy</span>
                        {% elseif platnosc.urzad == 2 %}
                            <span>ZUS</span>
                        {% elseif platnosc.urzad == 3 %}
                            <span>Inne</span>
                        {% endif %}

                    {% endif %}

                    {% if platnosc.kontrahent.nazwa is defined %}
                        {{ platnosc.kontrahent.nazwa }}
                    {% endif %}

                </td>

                <td>
                    {% if platnosc.opis is defined %}
                        {{ platnosc.opis }}
                    {% endif %}

                    {% if platnosc.numer is defined %}
                        / {{ platnosc.numer }}
                    {% endif %}

                </td>

                <td>
                    {% if platnosc.kwota is defined %}
                        {{ platnosc.kwota }}
                    {% endif %}

                    {% if platnosc.kwotaBrutto is defined %}
                        {{ platnosc.kwotaBrutto }}
                    {% endif %}

                </td>

                <td>

                    {% if platnosc.kontrahentNrKonta is defined %}
                        {{ platnosc.kontrahentNrKonta }}
                    {% endif %}

                </td>

                <td>

                    {% if platnosc.projekt is defined %}
                        {{ platnosc.projekt }}
                    {% endif %}

                </td>

                <td>

                    {% if platnosc.terminPlatnosci is defined %}
                        {{ platnosc.terminPlatnosci|date('Y-m-d H:i:s') }}
                    {% endif %}

                </td>

                <td>

                    <button id="status_zaplacone" type="button" onClick="zaplacone({{ platnosc.id }}{% if platnosc.numer is defined %},{{ platnosc.numer }}{% else %},0{% endif %}, {{ loop.index }})">Tak</button>

                </td>



            </tr>
        {% endfor %}

        <ul>
            <li>
                <a href="{{ path('operacje_nieprzypisane') }}">Operacje</a>
            </li>
        </ul>

        <script>



            function zaplacone(id, nr, nr_wiersza){

                let idPlatnosci = id;
                let nrFaktury = nr;
                let numer_wiersza = nr_wiersza;

                $.ajax({
                    url: '{{ (path('platnosci_status_zaplacone')) }}',
                    type: "POST",
                    dataType: "json",
                    data: {
                        id: idPlatnosci,
                        nr: nrFaktury
                    },
                    async: true,
                }).done(function (data) {
                    document.getElementById(numer_wiersza).style.display = "none";
                    console.log(data);
                    if (data.msg == 'OK' && data.response) {
                        console.log(data.respons, numer_wiersza);

                    } else {
                        // alert(data.msg);
                        // $('#call_return_info').html('');
                    }
                }).fail(function () {
                    console.warn("FAIL FAIL");
                });

                return true;

                // console.warn(keywords);
                // that.off('submit').submit();

            };




        </script>
{% endblock %}
