{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista podatków</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Urzad</th>
                <th>Naszafirmaid</th>
                <th>Opis</th>
                <th>Okres</th>
                <th>Kwota</th>
                <th>Czyzaplacono</th>
                <th>Terminplatnosci</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for podatki in podatkis %}
            <tr>
                <td><a href="{{ path('podatki_show', { 'id': podatki.id }) }}">{{ podatki.id }}</a></td>
                <td>{{ podatki.urzad }}</td>
                <td>{{ podatki.naszaFirmaId }}</td>
                <td>{{ podatki.opis }}</td>
                <td>{{ podatki.okres }}</td>
                <td>{{ podatki.kwota }}</td>
                <td>{% if podatki.czyZaplacono %}Yes{% else %}No{% endif %}</td>
                <td>{% if podatki.terminPlatnosci %}{{ podatki.terminPlatnosci|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('podatki_show', { 'id': podatki.id }) }}">Pokaż</a>
                        </li>
                        <li>
                            <a href="{{ path('podatki_edit', { 'id': podatki.id }) }}">Edycja</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('podatki_new') }}">Dodaj nowy podatek</a>
        </li>
    </ul>
{% endblock %}
