{% extends 'base.html.twig' %}

{% block body %}
    <h1>Faktury</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Rodzaj</th>
                <th>Nasza firma id</th>
                <th>NIP Kontrahenta</th>
                <th>Nazwa Kontrahenta</th>
                <th>Adres Kontrahenta</th>
                <th>Miasto Kontrahenta</th>
                <th>Kod pocztowy Kontrahenta</th>
                <th>Numer</th>
                <th>Data wystawienia</th>
                <th>Kontrahent nr konta</th>
                <th>Kwota netto</th>
                <th>Kwota brutto</th>
                <th>Kwota vat</th>
                <th>Opis</th>
                <th>Forma platnosci</th>
                <th>Plik skan faktury</th>
                <th>Czy zaplacono</th>
                <th>Działania</th>
            </tr>
        </thead>
        <tbody>
        {% for faktury in fakturies %}
            <tr>
                <td><a href="{{ path('faktury_show', { 'id': faktury.id }) }}">{{ faktury.id }}</a></td>
                <td>{{ faktury.rodzaj }}</td>
                <td>{{ faktury.naszaFirmaId }}</td>
                <td>{{ faktury.kontrahentNip }}</td>
                <td>{{ faktury.kontrahentNazwa }}</td>
                <td>{{ faktury.kontrahentAdres }}</td>
                <td>{{ faktury.kontrahentMiasto }}</td>
                <td>{{ faktury.kontrahentKodPocztowy }}</td>
                <td>{{ faktury.numer }}</td>
                <td>{% if faktury.dataWystawienia %}{{ faktury.dataWystawienia|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ faktury.kontrahentNrKonta }}</td>
                <td>{{ faktury.kwotaNetto }}</td>
                <td>{{ faktury.kwotaBrutto }}</td>
                <td>{{ faktury.kwotaVat }}</td>
                <td>{{ faktury.opis }}</td>
                <td>{{ faktury.formaPlatnosci }}</td>
                <td>{{ faktury.plikSkanFaktury }}</td>
                <td>{% if faktury.czyZaplacono %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('faktury_show', { 'id': faktury.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('faktury_edit', { 'id': faktury.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('faktury_new') }}">Nowa faktura</a>
        </li>
    </ul>
{% endblock %}
