{% extends 'base.html.twig' %}
{% block body %}
    <h1>Nowa faktura</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create"/>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('faktury_index') }}">Lista faktur</a>
        </li>
    </ul>
    <script>
        jQuery(document).ready(function ($) {
            $(document).on('blur', '#appbundle_faktury_kontrahentNip', function (e) {
                e.preventDefault();
                let value = $(this).val();

                // console.log("dsad", value);
                // $(this).attr('disabled', true);
                // $(this).addClass('button-disabled');

                $.ajax({
                    url: '{{ (path('faktury_stat_gov_nip')) }}',
                    type: "POST",
                    dataType: "json",
                    data: {
                        nip: value
                    },
                    async: true,
                }).done(function (data) {
                    console.log(data);
                    if (data.msg == 'OK' && data.response) {
                        console.log(data.response);
                        // alert('submit');
                        // that.off('submit').submit();

                        $('#appbundle_faktury_kontrahentNazwa').val(data.response.praw_nazwa);
                        $('#appbundle_faktury_kontrahentAdres').val(data.response.praw_adSiedzUlica_Nazwa+' '+data.response.praw_adSiedzNumerNieruchomosci+' '+data.response.praw_adSiedzNumerLokalu);
                        $('#appbundle_faktury_kontrahentMiasto').val(data.response.praw_adSiedzMiejscowosc_Nazwa);
                        $('#appbundle_faktury_kontrahentKodPocztowy').val(data.response.praw_adSiedzKodPocztowy);

                    } else {
                        // alert(data.msg);
                        // $('#call_return_info').html('');
                    }
                }).fail(function () {
                    console.warn("FAIL FAIL");
                    // $('#call_return_info').html('FAIL! FAIL');
                });

                return true;

                // console.warn(keywords);
                // that.off('submit').submit();

            });

        });
    </script>
{% endblock %}
